*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefeff;
}

main {
  margin:0 auto;
  max-width: 800px;
}

.grid-container{
  height: 800px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.cell{
  border: 1px solid rgba(0, 0, 0, 0.1);
}

